<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="lrmate_200id">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_gazebo" default="false" />

  <!-- Import lrmate_200id macro -->
  <xacro:include filename="$(find lrmate_200id_model_description)/lrmate_200id/urdf/lrmate_200id_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:lrmate_200id_description/>

</robot>
